.weixin-btn {
    display: inline-block;
    width: 150px;
    height: 23px;
    background-image: url('images/weixin-signing.png');
    background-repeat: no-repeat;
}
.weixin-btn:hover {
    background-position: 0px -24px;
}
.weixin-btn:active {
    background-position: 0px -48px;
}